/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Momo+Trust+Display&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import "tailwindcss";
.text-heading {
    color: var(--text-heading);
}

.text-primary {
    color: var(--text-primary);
}

.text-secondary {
    color: var(--text-secondary);
}

.text-accent {
    color: var(--accent-color);
}

.bg-primary {
    background-color: var(--bg-primary);
}

.bg-secondary {
    background-color: var(--bg-secondary);
}

.border-light {
    border-color: var(--border-color);
}